<!DOCTYPE html>
<html>
    <head>
        <title>Auth or Register</title>
    </head>
    <body>
        <!-- <form action="auth" method="post">
            <button type="submit">Авторизация</button>
        </form>
        <br><br>
        <form action="register" method="post">
            <button type="submit">Регистрация</button>
        </form>
        <br> -->
        <a href='http://127.0.0.1:8000/auth'>Auth</a>
        <br><br>
        <a href='http://127.0.0.1:8000/register'>Register</a>
    </body>
</html>
