<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
    </head>
    <body>
        <h1>WebSocket Chat</h1>
        {{ token }}
        <hr>

        <hr>
        <form action="" onsubmit="sendMessage(event)">
            <input type="hidden" id="itemId" autocomplete="off" value="foo"/>
            <input type="hidden" id="token" autocomplete="off" value="{{ token }}"/>
            <button onclick="connect(event)">Connect</button>
            <hr>
            <label>Message: <input type="text" id="messageText" autocomplete="off"/></label>
            <label>Recipient: <input type="text" id="recipientID" autocomplete="off"/></label>
            <button>Send</button>
        </form>
        <ul id='messages'>
        </ul>
        <script>
        var ws = null;
            function connect(event) {
                var itemId = document.getElementById("itemId")
                var token = document.getElementById("token")
                ws = new WebSocket("ws://localhost:8000/items/"+ token.value +"/ws?token=" + token.value);
                ws.onopen = () => console.log('Websocket connected')
                ws.onmessage = function(event) {
                    var messages = document.getElementById('messages')
                    var message = document.createElement('li')
                    var content = document.createTextNode(event.data)
                    message.appendChild(content)
                    messages.appendChild(message)
                };
                ws.onclose = () => console.log('Websocket disconnected')
                event.preventDefault()
            }
            function sendMessage(event) {
                var input = document.getElementById("messageText")
                var recipient = document.getElementById("recipientID")
                ws.send(recipient.value + " " + input.value);
                input.value = ''
                event.preventDefault()
            }
        </script>
    </body>
</html>
