
<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
    </head>
    <body>
        <h1>WebSocket Chat</h1>
        <h2>Регистрация</h2>
        <form action="auth/register" method="post">
            <label>Электропочта: <input type="email" name="email" autocomplete="off"/></label>
            <label>Пароль: <input type="password" name="password" autocomplete="off"/></label>
            <label>Повторить пароль: <input type="password" name="repeat_password" autocomplete="off"/></label>
            <input type="submit">

        </form>
    </body>
</html>
